.ulmnu
  list-style-type: none
  margin: 0
  padding: 0

.circle
  position: absolute
  top: 0
  left: 0
  border: solid 2px #fff
  border-radius: $navBorderRadius
  width: 63px
  height: 63px

@each $name in "layer9" "layer11" "layer8" "layer12" "layer10"
  .icon-#{$name}
    @extend .circle
    background-image: url("/images/icons/#{$name}.png")
    background-repeat: no-repeat
    background-size: 35px
    background-position: center
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease

  .categories
    @each $name in "layer9" "layer11" "layer8" "layer12" "layer10"
      li:hover .icon-#{$name}
        transform: rotate(25deg)
        cursor: pointer

.categories
  ul
    @extend .ulmnu
    li
      position: relative
      padding: 18px 25px
      margin-bottom: 10px
      width: 80%
      background: linear-gradient(to top, $navbarCollapseMainColor, $navbarCollapseAccentColor)
      box-shadow: $blockShadow
      border-top-left-radius: $navBorderRadius
      border-bottom-left-radius: $navBorderRadius
      border-top-right-radius: $navBorderRadius
      border-bottom-right-radius: $navBorderRadius
      text-align: center
      cursor: pointer

      @media only screen and (max-width: $media-dekstop)
        width: 100%

      &:hover, &:focus
        background: linear-gradient(to top, $navbarAccentColor, $navbarMainColor)
        color: #fff

      &.active
        background: linear-gradient(to top, $navbarAccentColor, $navbarMainColor)
        color: $navbarLinkColor

      > a
        font-size: 17px
        text-transform: uppercase
        text-decoration: none
        letter-spacing: 2px
        margin-left: 20px
        color: #fff

      @media only screen and (max-width: $media-phone)
        width: 100%
      @media only screen and (max-width: $media-tablet)
        width: 100%

  .ul-products
    display: none

    li
      //display: none

.loadMore,
.showLess
  color: #fff
  cursor: pointer
  margin-bottom: 5px