*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

*:-ms-viewport
	width: auto!important


body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	min-height: 100vh
	position: relative
	line-height: 1.6
	font-family: 'Nunito', sans-serif
	overflow-x: hidden
	-ms-overflow-style: scrollbar

.no-margin 
	margin: 0 !important;

.no-padding
	padding: 0 !important;

.no-padding-left
	padding-left: 0 !important

.height-356
	height: 356px !important

.no-padding-right
	padding-right: 0 !important

a
	color: #000
	
	&:hover
		text-decoration: none
		color: #b71542

.hidden
	display: none

#app
	overflow: hidden

[v-cloak] 
	display: none

#map
  height: 372px
  width: 100%

.siteBg
  position: relative
  min-height: 100vh
  background-size: cover
  background-position: left
  background-repeat: no-repeat

  &.top
      background-position: top left !important

  &.bottom
      background-position: left bottom !important

.siteContent
  padding-top: 160px
  padding-bottom: 80px

  @media only screen and (max-width: $media-phone)
    padding-top: 50px

  @media only screen and (max-width: $media-tablet)
    padding-top: 50px

  h3
    font-weight: 500
    margin-top: 0
    margin-bottom: 30px
    color: #fff

    @media only screen and (max-width: $media-phone)
      font-size: 18px

  &__categories
    @media only screen and (max-width: $media-phone)
      margin-bottom: 50px

    @media only screen and (max-width: $media-tablet)
      margin-bottom: 50px

  &__block
    padding: 40px
    margin-bottom: 80px
    min-height: 358px
    background-color: $bgTransparent
    letter-spacing: 2px
    color: #fff

    .siteHeadingTitle
      font-weight: 600
      font-size: 30px
      text-align: center
      padding-bottom: 30px

      @media only screen and (max-width: $media-phone)
        font-size: 15px

      @media only screen and (max-width: $media-tablet)
        font-size: 15px

    .siteParagraphText
      font-size: 17px
      text-align: left
      margin-bottom: 30px

    .siteRightAuthor
      font-size: 20px

  /* Content Contact */

  &.about
      .siteHeadingTitle
        text-transform: uppercase

      .siteParagraphText
        text-align: center


  /* Content Contact */

  &.contact
      .siteContent
        &__map
          margin-bottom: 30px
        &__block
          min-height: 358px

      h3
        text-align: center

      .siteHeadingTitle
        font-weight: 600
        font-size: 24px
        text-align: center
        margin-bottom: 30px

        @media only screen and (max-width: $media-phone)
          font-size: 15px
          

      .siteParagraphText
        font-size: 14px
        text-align: center
        margin-bottom: 30px

        div
          margin-bottom: 30px
          > p
            margin: 0 0 1px

            @media only screen and (max-width: $media-phone)
              font-size: 14px


      .siteRightAuthor
        font-size: 20px


  /* Content News */

  &.newView
    .siteContent 
      &__block
        padding: 25px 40px

  &.new
    .siteContent 
      &__block
        padding: 25px 5px
        margin-bottom: 15px
        min-height: 240px

        .thumb
          margin: 0 auto 15px

        h4
          margin: 0 0 40px
          font-weight: 600

          @media only screen and (max-width: $media-phone)
            font-size: 15px
            text-align: center

          @media only screen and (max-width: $media-tablet)
            font-size: 15px
            text-align: center

        p 
          @media only screen and (max-width: $media-phone)
            text-align: center

          @media only screen and (max-width: $media-tablet)
            text-align: center


        .new-btn
          font-size: 14px
          border-top-left-radius: $navBorderRadius
          border-bottom-left-radius: $navBorderRadius
          border-top-right-radius: $navBorderRadius
          border-bottom-right-radius: $navBorderRadius
          border: 2px solid #fff
          padding: 8px 0
          margin: 75px 40px 0 0
          color: #fff
          text-align: center
          transition: all 0.25s ease

          &:hover, &:focus
            background-color: #fff
            color: #000

          @media only screen and (max-width: $media-phone)
            font-size: 12px
            margin-top: 40px
            width: 100%
          
          @media only screen and (max-width: $media-tablet)
            margin-top: 40px
            width: 100%

.empty
  color: #fff


    
