.footer
  display: flex
  background-color: $bgTransparent
  justify-content: center
  align-items: center
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  padding: 1em 0 0
  p
    color: #fff
    letter-spacing: 1px