$headerToplineColor: #c25a2b
$headerToplineSocialFontSize: 16px
$headerToplineSoccialIconFontSize: 20px

.header
  padding-top: 1em
  &__topline
    margin-bottom: 1em
    text-align: right
    .social
      > a
        font-size: $headerToplineSocialFontSize
        margin-left: 3em
        color: $headerToplineColor
        &:hover,
        &:visited
          color: lighten($headerToplineColor, 10%)
          

        .fa
          font-size: $headerToplineSoccialIconFontSize