$bgDefault: #131738
$bgHighlight: #281c56
$bgHighlightActive: #211b4f
$colDefault: #eaff00
$colHighlight: #ffffff
$navbarHeight: 58px
$navbarMainColor: #d97c3e
$navbarAccentColor: #ae542a
$navbarFontWeight: 600
$navbarFontSize: 17px
$navbarLinkColor: #eaff00
$navbarCollapseMainColor: #2bad14
$navbarCollapseAccentColor: #30e514

.nav
  > li
    > a
      padding: 10px 25px

      @media only screen and (max-width: $media-laptop)
        padding-left: 10px
        padding-right: 10px

.navbar
  margin-bottom: 0 !important

.navbar-default
  background-color: transparent
  border: none
  border-color: $bgHighlight

  .navbar-brand
    color: $colDefault
    line-height: $navbarHeight
    padding-top: 15px !important
    padding-left: 4px
    margin-left: -17px !important

    img
      margin-top: -13px
      width: 370px

      @media only screen and (max-width: $media-phone)
        width: 160px
      
      @media only screen and (max-width: $media-tablet)
        width: 160px

      @media only screen and (max-width: $media-laptop)
        width: 160px

      @media only screen and (max-width: $media-dekstop)
        width: 160px

    &:hover, &:focus
      color: $colHighlight

  .navbar-text
    color: $colDefault

  .navbar-nav
    margin-top: 0 !important
    margin: 7.5px -15px 0

    > li
      > a
        font-size: $navbarFontSize
        font-weight: $navbarFontWeight
        line-height: $navbarHeight
        height: $navbarHeight
        padding-top: 0
        color: $navbarLinkColor
        transition: all ease 0.25s
        outline: none

        @media only screen and (max-width: $media-phone)
          text-align: center

        @media only screen and (max-width: $media-tablet)
          text-align: center

        &:hover, &:focus
          background: linear-gradient(to top, $navbarAccentColor, $navbarMainColor)
          color: $navbarLinkColor

    > .active
      > a, > a:hover, > a:focus
        background: linear-gradient(to top, $navbarAccentColor, $navbarMainColor)
        color: $navbarLinkColor

  .navbar-toggle
    border-color: $bgHighlight
    border-width: 4px
    border: none
    background: linear-gradient(to top, $navbarAccentColor, $navbarMainColor)

    &:hover, &:focus
      background: linear-gradient(to top, $navbarAccentColor, $navbarMainColor)

    .icon-bar
      background-color: $navbarLinkColor

  .navbar-collapse
    background: linear-gradient(to top, $navbarCollapseMainColor, $navbarCollapseAccentColor)
    box-shadow: $blockShadow
    border-top-left-radius: $navBorderRadius
    border-bottom-left-radius: $navBorderRadius
    border-top-right-radius: $navBorderRadius
    border-bottom-right-radius: $navBorderRadius
    border: none

    @media only screen and (max-width: $media-phone)
      background: #1f930d
      position: absolute
      width: 100%
      z-index: 3
      padding-right: 0
      border-radius: 4px
      margin-top: 1em

    @media only screen and (max-width: $media-tablet)
      background: #1f930d
      position: absolute
      width: 100%
      z-index: 3
      padding-right: 0
      border-radius: 4px
      margin-top: 1em

  .navbar-form
    border-color: $colDefault

  .navbar-link
    color: $colDefault

    &:hover
      color: $colHighlight

  .navbar-right
    margin-right: 60px

    @media only screen and (max-width: $media-phone)
      margin-right: 0

    @media only screen and (max-width: $media-tablet)
      margin-right: 0


@media (max-width: 767px)
  .navbar-default .navbar-nav .open .dropdown-menu
    > li > a
      color: $colDefault

      &:hover, &:focus
        color: $colHighlight

    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight