::-webkit-scrollbar
  width: 8px

::-webkit-scrollbar-button
  width: 8px
  height: 5px

::-webkit-scrollbar-track
  background: #eee
  border: thin solid lightgray
  box-shadow: 0px 0px 3px #dfdfdf inset
  border-radius: 10px

::-webkit-scrollbar-thumb
  background: #999
  border: thin solid gray
  border-radius: 10px
  &:hover
    background: #7d7d7d

.scrollNews
  height: 500px
  overflow: hidden
  transition: all 0.25s ease
  &:hover
    overflow-y: auto
    width: 100%